* {
    color: #ffffff;
    font-family: 'Georgia', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

body {
    background-color: #8367C7;
    align-content: center;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    max-width: 100%;
    width: 510px;
    border-bottom: solid 2px #ffffff;
}

.tile-container {
    width: 330px;
    max-width: 100%;
    align-content: center;
    margin-bottom: 30px;
}

.key-container {
    max-width: 100%;
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.key-container button {
    width: 43px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #05B2DC;
    color: #ffffff;
    margin: 4px;
    min-width: 10%;
}

.key-container button:nth-child(27),
.key-container button:nth-child(28) {
    width: 68px !important;
    flex-grow: 2;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 80px;
    height: 40px;
    border: 3px solid#ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container p {
    background-color: #05B2DC;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg)
    }
    50% {
        transform: rotateX(90deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.grey-overlay {
    background-color: #E16F7C !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #FFC857 !important;
    border: none !important;
}

.green-overlay {
    background-color: #79B473 !important;
    border: none !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #E16F7C;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}